.progress-bar-outer {
    float: right;
    margin-right: 10px;
}
.check-box
{
    background-image: url(../../base/img/forms/checkbox.jpg);
    height: 20px;
    width: 20px;
    display:inline-block;
    margin-right: 20px;
    float: right;
    cursor: pointer; cursor: hand;
}
.check-box-checked
{
    background-image: url(../../base/img/forms/checkbox-checked.jpg);
    height: 20px;
    width: 20px;
    display:inline-block;
    margin-right: 20px;
    float: right;
}
.processing {
    opacity: 0.6;
}
.reward-score {
    text-align: center;
    font-size: 50px;
}
.reward-title {
    text-align: center;
    color: #2196F3;
    font-size: 50px;
}