{% extends "base/base.html" %}

{% block content %}
	<section class="focus-section">
		<div class="card">
			<div class="card-title">Mission Complete: {{ user_challenge.challenge.challenge_title }}<br>How do you think you did?</div>
			<form action="{% url 'challenges:challenge_complete' %}?challenge_id={{id}}" method="post">
				{% csrf_token %}
				{{ form }}
				<li>
					<input type="submit" value="Submit" />
				</li>
			</form>
		</div>
	</section>
{% endblock %}