{% extends "base/base.html" %}
{% load staticfiles %}
{% load dashboard_extras %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'challenges/css/challenges.css' %}">
{% endblock %}
{% block content %}
	<section class="focus-section">
		<div class="card">
			<ul>
				<div id="active-challenges">
					<div class="card-title">Your Active Challenges</div>
					{% if user_challenge_list %}
						{% for active_challenge in user_challenge_list %}
							<div onclick="show_challenge_info('Challenge: {{ active_challenge.challenge.challenge_title }}', [{'title': 'Description', 'content': '{{ active_challenge.challenge.challenge_description }}'}, {'title': 'Challenge Difficulty', 'content': '{{ active_challenge.challenge.challenge_difficulty }}/10'}])">
								<li>
									{% if active_challenge|get_days_left <= 0 %}
									<p>{{ active_challenge.challenge.challenge_title }} - Complete!</p>
									<div class="card-button inline-button right prevent-notification" value='{% url 'challenges:challenge_complete' %}?challenge_id={{ active_challenge.challenge.id }}'>Log progress</div>
									<br>
									<p>
										<span class="card-button inline-button space">INFO</span>
									</p>
									{% else %}
									<p>
										<span class="general-title">{{ active_challenge.challenge.challenge_title }}</span>
										<br>
										<span class="tagline-text">Days Left:&nbsp;<span class="challenge-time">{{ active_challenge|get_days_left }}</span></span>
										<br>
										<span class="card-button inline-button space">INFO&nbsp;</span>
										<span class="card-button inline-button space prevent-notification" value="{% url 'share:share_challenge' %}?challenge_id={{ active_challenge.challenge.id }}">&nbsp;Share</span>
									</p>
									<div class="progress-bar-outer">
										<div class="progress-bar-inner-wrapper">
											<div class="progress-bar-inner" style="width: {{ active_challenge|get_progress_percentage}}%"></div>
										</div>
									</div>
								</li>
							</div>
							{% endif %}
						{% endfor %}
					{% else %}
						<li>
							<div class="empty-text">This looks a bit empty, start a challenge or three so we can make Dorset a better place!</div>
						</li>
					{% endif %}
				</div>
			</ul>
		</div>
	</section>
	<section class="focus-section">
		<div class="card">
			<div class="card-title">Challenge List</div>
			<ul>
				{% for challenge in challenge_list %}
					<div onclick="show_challenge_info('Challenge: {{ challenge.challenge_title }}', [{'title': 'Description', 'content': '{{ challenge.challenge_description }}'}, {'title': 'Challenge Difficulty', 'content': '{{ challenge.challenge_difficulty }}/10'}])">
						<li>
							<p>
								<span class="general-title">{{ challenge.challenge_title }}</span>
								<br>
								<span class="tagline-text">Days To Complete:&nbsp;<span class="challenge-time">{{ challenge.challenge_time_in_days }}</span></span>
								<br>
								<span class="card-button inline-button space">INFO</span>
							</p>
							<div class="check-box" value="{{challenge.id}}"/>
						</li>
					</div>
				{% endfor %}
			</ul>
		</div>
	</section>
	<section class="focus-section">
		<div class="card">
			<div class="card-title">Completed List</div>
			<ul>
				{% for complete_challenge in completed_list %}
					<li>
						<p>{{ complete_challenge.challenge.challenge_title }}</p>
						<div class="card-button inline-button right" onclick='buttonClick("{% url 'challenges:challenge_reward' %}?challenge_id={{ complete_challenge.challenge.id }}")'>View</div>
						<br>
					</li>
				{% endfor %}
			</ul>
		</div>
	</section>
	<script>
		function init()
		{
			var objCheckBoxes = document.getElementsByClassName('check-box');
			for(var i = 0;i < objCheckBoxes.length; i++)
			{
				$(objCheckBoxes[i]).click(checkbox_press);
			}
			var objFinishedButtons = document.getElementsByClassName('prevent-notification');
			for(var i = 0;i < objFinishedButtons.length; i++)
			{
				$(objFinishedButtons[i]).click(function(e){
					e.stopPropagation();
					buttonClick(e.target.getAttribute("value"));
				});
			}
		}

		function buttonClick(url)
        {
            window.location.href = url;
        }

		function show_challenge_info(title, arrData)
		{
			var container = document.createElement('span');

			build_summary_data(container, arrData);

			show_notification(title, [container]);
		}

		function build_summary_data(container, arrData)
		{
			for(var i = 0; i < arrData.length; i++)
			{
				var attribute_title = document.createElement('p');
				attribute_title.textContent = arrData[i].title;
				attribute_title.className = "general-title";

				attribute_title.appendChild(document.createElement('br'));

				var attribute_content = document.createElement('span');
				attribute_content.innerHTML = arrData[i].content;
				attribute_content.className = "tagline-text";
				attribute_title.appendChild(attribute_content);

				container.appendChild(attribute_title);
				if(i < arrData.length - 1)
				{
					container.appendChild(document.createElement('br'));
					container.appendChild(document.createElement('br'));
				}
			}
		}

		function checkbox_press(e)
		{
			e.stopPropagation();
			e.target.parentNode.setAttribute("class", "processing");
			e.target.setAttribute("class", "check-box-checked");
			$.post("{% url 'challenges:challenge_update' %}",
			{
				challenge_id: e.target.getAttribute("value")
			},
			function(data){
				if(data.success)
				{
					var objActiveChallenges = document.getElementById("active-challenges");
					//checks if no challenges are set yet
					var objEmptyText = objActiveChallenges.getElementsByClassName("empty-text");
					if(objEmptyText.length > 0)
					{
						objEmptyText[0].parentNode.parentNode.removeChild(objEmptyText[0].parentNode);
					}
					//list item container
					var objListItemContainer = document.createElement('div');
					objListItemContainer.setAttribute("onclick", e.target.parentNode.parentNode.getAttribute("onclick"));

					//creating main node
					var objNewActiveChallenge = document.createElement('li');

					//get local challenge info
					var title = e.target.parentNode.getElementsByClassName("general-title")[0].textContent;
					var time = e.target.parentNode.getElementsByClassName("challenge-time")[0].textContent;
					var id = e.target.parentNode.getElementsByClassName("check-box-checked")[0].getAttribute("value");

					//creating title node
					var objNewActiveChallengeTitle = document.createElement('p');
					var objNewActiveChallengeTitleText = document.createTextNode(title);
					objNewActiveChallengeTitle.appendChild(objNewActiveChallengeTitleText);

					objNewActiveChallengeTitle.appendChild(document.createElement('br'));

					//creating days left span
					var objNewActiveChallengeDays = document.createElement('span');
					var objNewActiveChallengeDaysText = document.createTextNode("Days Left: " + time);
					objNewActiveChallengeDays.setAttribute("class", "tagline-text");
					objNewActiveChallengeDays.appendChild(objNewActiveChallengeDaysText);
					objNewActiveChallengeTitle.appendChild(objNewActiveChallengeDays);

					objNewActiveChallengeTitle.appendChild(document.createElement('br'));

					var objNewActiveChallengeInfo = document.createElement('span');
					objNewActiveChallengeInfo.innerHTML = "INFO&nbsp;";
					objNewActiveChallengeInfo.className = "card-button inline-button space";
					objNewActiveChallengeTitle.appendChild(objNewActiveChallengeInfo);

					var objNewActiveChallengeShare = document.createElement('span');
					objNewActiveChallengeShare.innerHTML = "&nbsp;SHARE";
					objNewActiveChallengeShare.className = "card-button inline-button space prevent-notification";
					objNewActiveChallengeShare.setAttribute("value", "{% url 'share:share_challenge' %}?challenge_id=" + id);
					objNewActiveChallengeTitle.appendChild(objNewActiveChallengeShare);

					$(objNewActiveChallengeShare).click(function(e){
						e.stopPropagation();
						buttonClick(e.target.getAttribute("value"));
					});

					objNewActiveChallenge.appendChild(objNewActiveChallengeTitle);

					//progress bar
					var objNewActiveChallengeProgressOuter = document.createElement('div');
					var objNewActiveChallengeProgressInnerWrapper = document.createElement('div');
					var objNewActiveChallengeProgressInner = document.createElement('div');

					objNewActiveChallengeProgressOuter.setAttribute("class", "progress-bar-outer");
					objNewActiveChallengeProgressInnerWrapper.setAttribute("class", "progress-bar-inner-wrapper");
					objNewActiveChallengeProgressInner.setAttribute("class", "progress-bar-inner");
					objNewActiveChallengeProgressInner.setAttribute("style", "width: 0.1%");

					objNewActiveChallengeProgressInnerWrapper.appendChild(objNewActiveChallengeProgressInner);
					objNewActiveChallengeProgressOuter.appendChild(objNewActiveChallengeProgressInnerWrapper);
					objNewActiveChallenge.appendChild(objNewActiveChallengeProgressOuter);

					//finally adding to the main challenge node
					objListItemContainer.appendChild(objNewActiveChallenge);
					objActiveChallenges.appendChild(objListItemContainer);

					e.target.parentNode.parentNode.removeChild(e.target.parentNode);
				}
				else
				{
					e.target.parentNode.setAttribute("class", "");
					e.target.setAttribute("class", "check-box");
				}
			}, "json");
		}
		{% include "base/token.js" %}
	</script>
{% endblock %}
