{% extends "base/base.html" %}
{% load staticfiles %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'challenges/css/challenges.css' %}">
{% endblock %}

{% block content %}
	<section class="focus-section">
		<div class="card">
			<div class="card-title">Mission Complete: {{ user_challenge.challenge.challenge_title }}</div>
			<ul>
				<li>
					<div class="reward-title">Well Done!</div>
					<div class="reward-score">Score: <span id="show-score">0</span></div>
				</li>
				<li>
					<div class="card-inline-title">Summary</div>
					<br>
					<div>Mission</div>
					<div class="tagline-text">{{ user_challenge.challenge.challenge_title }}</div>
					<br>
					<div>Description</div>
					<div class="tagline-text">{{ user_challenge.challenge.challenge_description|safe }}</div>
					<br>
					<div>Difficulty</div>
					<div class="tagline-text">{{ user_challenge.challenge.challenge_difficulty }}/10</div>
				</li>
				<li>
					<div class="card-button" onclick='buttonClick("{% url 'challenges:index' %}")'>Back to challenges</div>
				</li>
			</ul>
		</div>
	</section>

	<script>
		var intScore = {{ score }};
		var intShowScore = 0;
		var domScoreSpan = document.getElementById("show-score");
		var arrScoreAppliers = [{applyScore:1, limit:10}, {applyScore:10, limit:100}, {applyScore:100, limit:1000}];
		var intCurrentApplier = 0;
		var hasEnded = false;
		var now,
			dt   = 0,
			last = timestamp(),
			step = 1/30;

		function update()
		{
			intShowScore += arrScoreAppliers[intCurrentApplier].applyScore;
			if(intShowScore >= arrScoreAppliers[intCurrentApplier].limit)
			{
				if(intCurrentApplier < arrScoreAppliers.length - 1)
				{
					intCurrentApplier++;
				}
			}
			if(intShowScore > intScore)
			{
				intShowScore = intScore;
				//document.getElementById("navbar-header-string").innerHTML += "<span style='color: #FFFFFF'>+" + intScore + "</span>";
				end();
			}
		}

		function render()
		{
			domScoreSpan.innerText = intShowScore.toString();
		}

		function end()
		{
			hasEnded = true;
		}

		function frame() {
			now = timestamp();
			dt = dt + Math.min(1, (now - last) / 1000);
			while(dt > step) {
			dt = dt - step;
			update(step);
			}
			render(dt);
			last = now;
			if(hasEnded == false)
			{
				requestAnimationFrame(frame);
			}
		}

		function timestamp() {
		  return window.performance && window.performance.now ? window.performance.now() : new Date().getTime();
		}

		function init()
		{
			requestAnimationFrame(frame);
		}

		window.requestAnimFrame = (function(){
		  return  window.requestAnimationFrame       ||
				  window.webkitRequestAnimationFrame ||
				  window.mozRequestAnimationFrame    ||
				  function( callback ){
					window.setTimeout(callback, 1000 / 30);
				  };
		})();

		function buttonClick(url)
        {
            window.location.href = url;
        }
	</script>
{% endblock %}