{% extends "base/base.html" %}
{% load staticfiles %}

{% block head %}

{% endblock %}
{% block content %}
	<section class="focus-section">
		<div class="card">
			<ul>
				<div id="active-challenges">
					<div class="card-title">How's the challenge going? Let us know!</div>
					<li>
						<p>
							Posting about your challenge
							<br>
							<br>
							<span class="coloured-text">{{ user_challenge.challenge.challenge_title }}</span>
							<br>
							<br>
							<span class="tagline-text">
								You'll get an instant extra 1000 points for you and your team by tweeting!!
							</span>
						</p>
					</li>
					<form action="{% url 'share:share_challenge' %}?challenge_id={{ user_challenge.challenge.id }}" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{{ form.as_ul }}
						<li>
							<input type="submit" value="CONTINUE" />
						</li>
					</form>
				</div>
			</ul>
		</div>
	</section>
{% endblock %}