{% extends "base/base.html" %}
{% load staticfiles %}

{% block head %}
<meta property="og:title"
content="{{ profile.user.first_name }} is helping make dorset a better place!" />
<meta property="og:site_name" content="CLS Dorset App"/>
<meta property="og:description" content="Mission: {{ user_challenge.challenge.challenge_title }}\nChallenge Description: {{ user_challenge.challenge.challenge_description|striptags }}" />
{% if post_image == None  %}

<meta name="twitter:card" content="summary">
{% else %}
<meta property="og:image:url" content="{{ post_image }}" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:src" content="{{ post_image }}">
{% endif %}
<meta name="twitter:site" content="@cls_dorset_app">
<meta name="twitter:title" content="{{ profile.user.first_name }} is helping make dorset a better place!">
<meta name="twitter:description" content="Mission: {{ user_challenge.challenge.challenge_title }}<br>Challenge Description: {{ user_challenge.challenge.challenge_description }}">
{% endblock %}
{% block content %}
	<section class="focus-section">
		<div class="card">
			<ul>
				{% if logged_in %}
				<div id="active-challenges">
					<div class="card-title">Share to twitter and facebook!</div>
					<li>
						Good to go, Press below to share!
					</li>
					<li>
						<a href="https://twitter.com/share" class="card-button inline-button space" data-text="Helping make Dorset a better place" data-via="cls_dorset_app" data-hashtags="CLSDorset">Post to twitter</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					</li>
					<li>
						<a class="card-button inline-button space" href="https://www.facebook.com/sharer/sharer.php?u={{ path }}" target="_blank">Share on Facebook</a>
					</li>
				</div>
				{% else %}
					<div id="active-challenges">
						<div class="card-title">{{ profile.user.first_name }} is helping make dorset a better place!</div>
						<li>
							{{ profile.user.first_name }} is currently doing the challenge:
							<br>
							<br>
							<span class="coloured-text">{{ user_challenge.challenge.challenge_title }}</span>
							<br>
							<li>
							They earned 1000 points for them and their team by sharing their progress.
							<br>
							<br>
							Want to help Dorset too? <a href="http://lukereed.co.uk">Sign up now!!</a>
							</li>
						</li>
					</div>
					<script>
						function init()
						{
							navbarController.setShowingNavbar(false);
						}
					</script>
				{% endif %}
			</ul>
		</div>
	</section>
{% endblock %}