{% extends "base/base.html" %}

{% block content %}
	<section class="focus-section">
		<div class="card">
			<div class="card-title">Create your own team</div>
			<form action="{% url 'teams:create_team' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.as_ul }}
				<li>
					<input type="submit" value="Submit" />
				</li>
			</form>
		</div>
	</section>
{% endblock %}