{% extends "base/base.html" %}

{% block content %}
	<section class="focus-section">
		<ul>
			<div class="card">
				<div class="card-title">Team {{ team.team_name }}</div>
					<li>
						{% if no_team %}
							<p>{{ team.team_name }}
								<br>
								<span class="tagline-text">Score:&nbsp;{{ team.score }}</span>
							</p>
							<div class="list-icon">
								<img src="{{ MEDIA_URL }}{{ team.image }}" width="75" height="75">
							</div>
							<div class="card-button" style="display: block;" onclick='buttonClick("{% url 'teams:join_team' %}?team_id={{ team_id }}")'>Join</div>
						{% else %}
							<p style="height: 60px;">{{ team.team_name }}
								<br>
								<span class="tagline-text">Score:&nbsp;{{ team.score }}</span>
							</p>
							<div class="list-icon">
								<img src="{{ MEDIA_URL }}{{ team.image }}" width="75" height="75">
							</div>
							{% if is_user_team %}
							<p style="display: block;">You are a member</p>
							{% endif %}
						{% endif %}
					</li>
			</div>
			<div class="card">
				<div class="card-title">Team Members</div>
				{% for profile in team_profiles %}
				<li>
					<p>{{ profile.user.username }}
						<br>
						<span class="tagline-text">Score:&nbsp;{{ profile.score }}</span>
					</p>
				</li>
				{% endfor %}
			</div>
		</ul>
	</section>

	<script type="application/javascript">
		function buttonClick(url)
        {
            window.location.href = url;
        }
	</script>
{% endblock %}