{% extends "base/base.html" %}

{% block content %}
	<section class="focus-section">
		<ul>
			<div class="card">
			<div class="card-title">Team Leaderboard</div>
				{% for team in team_list %}
				<li>
					<p>{{ team.team_name }}
						<br>
						<span class="tagline-text">Score:&nbsp;{{ team.score }}</span>
					</p>
					<div class="list-icon">
						<img src="{{ MEDIA_URL }}{{ team.image }}" width="75" height="75">
					</div>
					<div class="card-button join" value="{% url 'teams:team_detail' %}?team_id={{ team.id }}" style="display: block">View</div>
				</li>
				{% endfor %}
			</div>
		</ul>
	</section>

	<script>
		function init()
		{
			var objFinishedButtons = document.getElementsByClassName('card-button join');
			for(var i = 0;i < objFinishedButtons.length; i++)
			{
				$(objFinishedButtons[i]).click(function(e){
					e.stopPropagation();
					buttonClick(e.target.getAttribute("value"));
				});
			}
		}

        function buttonClick(url)
        {
            window.location.href = url;
        }
	</script>
{% endblock %}