{% extends "base/base.html" %}
{% load staticfiles %}
{% load dashboard_extras %}

{% block head %}
{% endblock %}
{% block content %}
	<section class="focus-section">
		<ul>
			<div class="card">
			<div class="card-title">About</div>
				<br>
				<p>Communities Living Sustainably in Dorset (CLS) aims to support and enable people living in West Dorset to adapt to climate change and live more sustainable lifestyles.</p>
				<br>
				<p>This app has been made as a Bournemouth University student project to support people's change towards sustainable living and encourage it through the use of gamification.</p>
				<p></p>
			</div>
		</ul>
{% endblock %}