{% extends "base/base.html" %}
{% load staticfiles %}
{% load dashboard_extras %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock %}
{% block content %}
	<section class="focus-section">
		<ul>
			<div class="card">
			<div class="card-title">Current Challenges</div>
			{% if user_challenge_list %}
				{% for active_challenge in user_challenge_list %}
					<div onclick="show_challenge_info('Challenge: {{ active_challenge.challenge.challenge_title }}', [{'title': 'Description', 'content': '{{ active_challenge.challenge.challenge_description }}'}, {'title': 'Challenge Difficulty', 'content': '{{ active_challenge.challenge.challenge_difficulty }}/10'}])">
						<li>
							{% if active_challenge|get_days_left <= 0 %}
							<p>{{ active_challenge.challenge.challenge_title }}</p>
							<div class="card-button inline-button right prevent-notification" value='{% url 'challenges:challenge_complete' %}?challenge_id={{ active_challenge.challenge.id }}'>Log progress</div>
							{% else %}
							<p>{{ active_challenge.challenge.challenge_title }}
								<br>
								<span class="tagline-text">Days Left:&nbsp;{{ active_challenge|get_days_left }}</span>
								<br>
								<span class="card-button inline-button space">INFO&nbsp;</span>
								<span class="card-button inline-button space prevent-notification" value="{% url 'share:share_challenge' %}?challenge_id={{ active_challenge.challenge.id }}">&nbsp;Share</span>
							</p>
							<div class="progress-bar-outer">
								<div class="progress-bar-inner-wrapper">
									<div class="progress-bar-inner" style="width: {{ active_challenge|get_progress_percentage}}%"></div>
								</div>
							</div>
							{% endif %}
						</li>
					</div>
				{% endfor %}
				<li>
					<div class="card-button" onclick='buttonClick("{% url 'challenges:index' %}")'>Manage Your Challenges</div>
				</li>
			{% else %}
				<li>
					<p>Your challenge progress is shown here, go set some ;-)</p>
				</li>
				<li>
					<div class="card-button" onclick='buttonClick("{% url 'challenges:index' %}")'>Set A Challenge</div>
				</li>
			{% endif %}
			</div>
		</ul>
	</section>

	<section class="focus-section">
		<ul>
			{% if user_team %}
			<div class="card">
				<div class="card-title">Team {{ user_team.team_name }}</div>
				<li>
					<p style="height: 75px;">{{ user_team.team_name }}
						<br>
						<span class="tagline-text">Score:&nbsp;{{ user_team.score }}</span>
					</p>
					<div class="list-icon">
						<img src="{{ MEDIA_URL }}{{ user_team.image }}" width="75" height="75">
					</div>
				</li>
			</div>
			{% endif %}
			<div class="card">
				<div class="card-title">Team Leaderboard</div>
			{% for team in team_list %}
				<li>
					<p style="height: 75px;">{{ team.team_name }}
						<br>
						<span class="tagline-text">Score:&nbsp;{{ team.score }}</span>
					</p>
					<div class="list-icon">
						<img src="{{ MEDIA_URL }}{{ team.image }}" width="75" height="75">
					</div>
				</li>
			{% endfor %}
			{% if user_team %}
				<li>
					<p>
						<div class="card-button" onclick='buttonClick("{% url 'teams:list_teams' %}")'>Team Leaderboards</div>
					</p>
				</li>
			{% else %}
				<li>
					<p>
						<div class="card-button" onclick='buttonClick("{% url 'teams:create_team' %}")'>Create a team</div>
						<div class="card-button" onclick='buttonClick("{% url 'teams:list_teams' %}")'>Join a team</div>
					</p>
				</li>
			{% endif %}
			</div>
		</ul>
	</section>

	<script>
		function init()
		{
			var objFinishedButtons = document.getElementsByClassName('prevent-notification');
			for(var i = 0;i < objFinishedButtons.length; i++)
			{
				$(objFinishedButtons[i]).click(function(e){
					e.stopPropagation();
					buttonClick(e.target.getAttribute("value"));
				});
			}
		}

        function buttonClick(url)
        {
            window.location.href = url;
        }

		function show_challenge_info(title, arrData)
		{
			var container = document.createElement('span');

			build_summary_data(container, arrData);

			show_notification(title, [container]);
		}

		function build_summary_data(container, arrData)
		{
			for(var i = 0; i < arrData.length; i++)
			{
				var attribute_title = document.createElement('p');
				attribute_title.textContent = arrData[i].title;
				attribute_title.className = "general-title";

				attribute_title.appendChild(document.createElement('br'));

				var attribute_content = document.createElement('span');
				attribute_content.innerHTML = arrData[i].content;
				attribute_content.className = "tagline-text";
				attribute_title.appendChild(attribute_content);

				container.appendChild(attribute_title);
				if(i < arrData.length - 1)
				{
					container.appendChild(document.createElement('br'));
					container.appendChild(document.createElement('br'));
				}
			}
		}
    </script>
{% endblock %}