{% extends "base/base_login.html" %}
{% load staticfiles %}

{% block content %}
    <section class="focus-section">
        <div class="card">
            <div class="card-image">
                <img src="{% static 'dashboard/img/bournemouth_beach.jpg' %}">
                <div class="card-title">Welcome to the CLS Dorset Web App</div>
            </div>
            <ul>
                <li>
                    <p style="max-width: inherit;">
						<a href="http://www.clsdorset.org.uk/" target="_blank">Communities Living Sustainably in Dorset (CLS)</a> aims to support and enable people living in West Dorset to adapt to climate change and live more sustainable lifestyles.
                        This app has been made as a Bournemouth University student project to support people's change towards sustainable living and encourage it through the use of gamification.
                    </p>
                </li>
                <li>
                    <div class="card-button" onclick='buttonClick("{% url 'app_user:log_in' %}")'>Log in</div>
                    <div class="card-button" onclick='buttonClick("{% url 'app_user:create_user' %}")'>Create Account</div>
                </li>
            </ul>
        </div>
		<div style="text-align: center; padding: 5px;"><a href="http://www.clsdorset.org.uk/" target="_blank"><img src="{% static 'dashboard/img/cls.png' %}"></a></div>
    </section>
    <script>
        function buttonClick(url)
        {
            window.location.href = url;
        }
    </script>
{% endblock %}