body {
	margin: 0;
	background-color: #FAFAFA;
	color: #212121;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}
a {
	color: #1976D2;
	text-decoration: none;
}
#content {
    padding-top: 55px;
}
#content li {
	text-align: left;
	list-style: none;
	padding: 16px 5px;
	border-bottom: 1px solid #DADADA;
}
#content li label {
	display: inline-block;
	color: #212121;
	font-size: 16px;
	font-weight: 400;
	padding: 0 0 0 10px;
	margin: 0;
}
#content ul {
	margin: 0;
	padding: 0;
}
#content p {
	display: inline-block;
	color: #212121;
	font-size: 16px;
	font-weight: 400;
	padding: 0 0 0 10px;
	margin: 0;
}
.coloured-text {
	color: #1976D2
}
#notification-content {
	margin: 0;
	padding: 0;
}
#notification-content li {
	text-align: left;
	list-style: none;
	padding: 16px 5px;
	border-bottom: 1px solid #DADADA;
}
#notification-content p {
	display: inline-block;
	color: #212121;
	font-size: 16px;
	font-weight: 400;
	padding: 0 0 0 10px;
	margin: 0;
}
.tagline-text {
	color: #727272;
	font-style: normal;
	font-size: 15px;
}
.focus-section {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.card {
	background-color: #FFFFFF;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	margin: 20px 5px 10px 5px;
}
.card .card-image {
	position: relative;
}
.card .card-image img {
	border-radius: 2px 2px 0 0;
	width: 100%;
	height: auto;
}
.card .card-image .card-title {
	padding: 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: inherit;
}
.card-title {
	background-color: #2196F3;
	border-radius: 2px 2px 0 0;
	padding: 15px 10px 15px 10px;
	color: #FFFFFF;
	font-size: 20px;
}
.card-inline-title {
	color: #2196F3;
	font-size: 30px;
}
.card-button {
	padding: 7px 15px 7px 10px;
	font-size: 15px;
	color: #1976D2;
	text-transform: uppercase;
	display: inline-block;
	cursor: pointer; cursor: hand;
}
.card-button.inline-button {
	padding: 0 10px 0 0;
	display: inline-block;
}
.card-button.inline-button.right {
	float: right;
}
.card-button.inline-button.space {
	padding: 5px 0 5px 0;
}
.list-icon {
	display: inline-block;
	float: right;
	margin-right: 10px;
}
.progress-bar-outer {
	display: inline-block;
    width: 100px;
    height: 30px;
    background-color: #1976D2;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    margin: auto;
}
.progress-bar-inner-wrapper {
	position: relative;
	width: 100px;
}
.progress-bar-inner {
    width: 50%;
    height: 15px;
    background-color: #FFFFFF;
    border-radius: 10px 5px 5px 10px;
    margin-top: 7.5px;
    position: absolute;
}
#notification-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 20;
	background-color: rgba(0,0,0,0.7);
	top: 0;
	left: 0;
	display: none;
}
.notification {
	max-width: 400px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
input[type="submit"] {
	margin: 0;
	text-align: right;
	border: none;
	background: transparent;
	padding: 7px 15px 7px 10px;
	font-size: 15px;
	color: #1976D2;
	text-transform: uppercase;
	cursor: pointer; cursor: hand;
}
.form-container {
	position: relative;
}
.form-container input {
	position: absolute;
	left: 110px;
}
#content .errorlist li {
	list-style: none;
	border-bottom: inherit;
	padding: 20px;
	color: #727272;
	border-bottom: none;
}