#navbar {
	width:100%;
	height:55px;
	position: fixed;
	line-height: 55px;
	background-color: #2196F3;
	z-index: 5;
	box-shadow: 0 2px 6px rgba(0,0,0,0.2);
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
}
#navbar-header-string {
	font-size: 12px;
	line-height: 5px;
	text-align: left;
	color: #BBDEFB;
}
#navbar-content {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.navbar-title {
	display: inline-block;
	vertical-align: top;
	padding-left: 5px;
	color: #FFFFFF;
	font-weight: 300;
	font-size: 20px;
	line-height: 40px;
}
.navbar-item.first {
	margin-left: 55px;
}
.navbar-item {
	display: inline-block;
	vertical-align: top;
	padding: 0 10px 0 10px;
	color: #BBDEFB;
	font-size: 15px;
	display: none;
	cursor: pointer; cursor: hand;
}
.navbar-item-menu-mobile {
	display: inline-block;
	vertical-align: top;
	color: #BBDEFB;
	font-size: 15px;
	float: right;
	height: 55px;
	display: none;
	line-height: 55px;
	cursor: pointer; cursor: hand;
}
#mobile-menu-list {
	position: fixed;
	list-style-type: none;
	margin-top: 55px;
	width: 100%;
	z-index: 6;
}
#mobile-menu-unordered-list {
	list-style-type: none;
	float: right;
	padding: 0;
	margin: 0;
}
.navbar-item-mobile {
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px 0 10px;
	color: #FFFFFF;
	font-size: 15px;
	width: 100px;
	background-color: rgba(0, 0, 0, 0.8);
	border-style: solid;
	border-color: white;
	border-width: 1px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: none;
}