{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<title>CLS Dorset{{ title }}</title>
		<meta name="description" content="Communities Living Sustainably in Dorset">
		<meta name="author" content="CLS Dorset">
		<link rel="stylesheet" type="text/css" href="{% static 'base/css/base.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'base/css/navbar.css' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui=1">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>
		<script src="{% static 'base/js/BrowserTools.js' %}" type="text/javascript"></script>
		{% block head %}{% endblock %}
	</head>
	<body onload="main_init()">
		{% include "base/navbar_login.html" %}
		<div id="content">
			{% block content %}{% endblock %}
		</div>
		<script>
			function main_init()
			{
				//run the init method of subclassing templates if it exists
				if(typeof init != "undefined")
				{
					init();
				}
				BrowserTools.getInstance().onWindowResize();
			}

			function show_notification(title, arrContent)
			{
				document.getElementById("notification-title").textContent = title;
				var notification = document.getElementById("notification-bg");
				var content = document.getElementById("notification-content");

				//create exit button
				var objExitButton = document.createElement('div');
				objExitButton.setAttribute("class", "card-button");
				objExitButton.setAttribute("onclick", "remove_notification()");
				objExitButton.textContent = "ok";
				arrContent.push(objExitButton);

				//add new nodes to card
				for(var i = 0; i < arrContent.length; i++)
				{
					var objNewItem = document.createElement('li');
					objNewItem.appendChild(arrContent[i]);
					content.appendChild(objNewItem);
				}

				notification.setAttribute("style", "display: block;");
			}

			function remove_notification()
			{
				var notification = document.getElementById("notification-bg");
				var content = document.getElementById("notification-content");
				notification.setAttribute("style", "");

				//clear up old notification
				for(var i = 0; i < content.childNodes.length; i++)
				{
					content.removeChild(content.childNodes[i]);
					i--;
				}
			}
		</script>
		<div id="notification-bg">
			<div class="card notification">
				<div id="notification-title" class="card-title"></div>
				<ul id="notification-content"></ul>
			</div>
		</div>
	</body>
</html>