{% load staticfiles %}
<div id="navbar">
	<div id="navbar-content">
		<a href="{% url 'dashboard:dash_home' %}"><div class="navbar-title">CLS Dorset Web App<div id="navbar-header-string">{{ header_string }}</div></div></a>
		<img class="navbar-item-menu-mobile" src="{% static 'base/img/navbar/menu.png' %}">
		<div class="navbar-item-menu-mobile">Menu</div>
		<a href="{% url 'dashboard:dash_home' %}"><div class="navbar-item first">Home</div></a>
		<a href="{% url 'dashboard:about' %}"><div class="navbar-item">About</div></a>
		<a href="{% url 'challenges:index' %}"><div class="navbar-item">Challenges</div></a>
		<a href="{% url 'teams:list_teams' %}"><div class="navbar-item">Teams</div></a>
		<a href="{% url 'app_user:log_out' %}"><div class="navbar-item">Log Out</div></a>
	</div>
</div>
<li id="mobile-menu-list">
	<ul id="mobile-menu-unordered-list">
		<li><a href="{% url 'dashboard:dash_home' %}"><div class="navbar-item-mobile">Home</div></a></li>
		<li><a href="{% url 'dashboard:about' %}"><div class="navbar-item-mobile">About</div></a></li>
		<li><a href="{% url 'challenges:index' %}"><div class="navbar-item-mobile">Challenges</div></a></li>
		<li><a href="{% url 'teams:list_teams' %}"><div class="navbar-item-mobile">Teams</div></a></li>
		<li><a href="{% url 'app_user:log_out' %}"><div class="navbar-item-mobile">Log Out</div></a></li>
	</ul>
</li>