{% load staticfiles %}
<div id="navbar">
	<div id="navbar-content">
		<a href="{% url 'dashboard:dash_home' %}"><div class="navbar-title">CLS Dorset Web App<div id="navbar-header-string">Not logged in</div></div></a>
	</div>
</div>