{% extends "base/base_login.html" %}
{% load staticfiles %}

{% block content %}
    <section class="focus-section">
        <div class="card">
            <div class="card-image">
                <img src="{% static 'dashboard/img/dorset_flowers.jpg' %}">
                <div class="card-title">Log in to continue</div>
            </div>
            <ul>
                    <form action="{% url 'app_user:log_in' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_ul }}
                    <li>
                        <input type="submit" value="Submit" />
                    </li>
            </form>
            </ul>
        </div>
		<div style="text-align: center; padding: 5px;"><a href="http://www.clsdorset.org.uk/" target="_blank"><img src="{% static 'dashboard/img/cls.png' %}"></a></div>
    </section>
{% endblock %}